.intro {
    background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/snow/road-through-trees-covered-in-snow-and-ice.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    padding: 40px 50px;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.text-intro {
    text-align: left;
    padding: 20px;
    border-radius: 3%;
}

.dash {
    width: 8%;
    border-top: 3px solid rgb(235, 192, 0);
}


.show-more {
    bottom: 0;
    position: absolute;
    background-color: #525252;
    color: rgb(235, 192, 0) !important;
    border-color: rgb(235, 192, 0) !important;
    background-color: #27272780 !important;
}

a {
    text-decoration: none !important;
    color: #525252
}

.card-intro {
    height: "100%";
    text-align: "left";
}