.intro {
    background-image: url("https://www.itl.cat/pngfile/big/206-2069272_tree-winter-snow-minimal-hd-wallpaper-minimalist-winter.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    padding: 40px 50px;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.text-intro {
    text-align: left;
    max-width: 70%;
}

.dash {
    width: 8%;
    border-top: 3px solid rgb(235, 192, 0);
}


.show-more {
    bottom: 0;
    position: absolute;
}

a {
    text-decoration: none !important;
    color: #525252
}